.layout-container {
    min-height: 100vh;
}
header {
    background: #000;
    border-right: solid $light-gray 3px;
    min-height: 90px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.site-title {
    display: none;
}

.block-system-branding-block {
    width: 40%;
    font-family: $heading-font-family;
    text-shadow: 3px 3px 2px #a3a3a3;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.6em;
}

.site__logo {

}