/**
 * @file
 * YAML form seven theme styling.
 */

td {
  vertical-align: top !important;
}

.yamlform-help-details {
  background-color: #f5f5f2;
}

@media print {
  .shortcut-action,
  .dropbutton-wrapper,
  .block-system-breadcrumb-block,
  .block-local-tasks-block,
  .pager,
  .button-action,
  .yamlform-submission-navigation,
  .yamlform-filter-form {
    display: none !important;
  }
}
